@font-face {
    font-family: Apercu;
    src: url("fonts/ApercuRegular.otf") format("opentype");
}

@font-face {
    font-family: Apercu;
    font-weight: bold;
    src: url("fonts/ApercuBold.otf") format("opentype");
}

.container, #loader {
  display: none
}

#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  background-color: #200;
  transform: translateX(-50%) translateY(-50%);
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 60s opacity;
    filter: brightness(40%) sepia(80%) contrast(150%) blur(3px);
}

#reload {
  position: fixed;
  top:95vh;
  left:0vw;
  width: 5vh;
  height: 5vh;
  background: transparent;
  z-index: 999;
}

.menu,
.detail {
  padding-top: 5vh;
  margin-top: 10vh;
  margin-bottom: 20%;
}

.floating-menu {
  background: transparent;
  padding: 5px;
  width: 10vw;
  z-index: 100;
  position: fixed;
  top: 40%;
}

.floating-menu.right {
  right: 5%;
}

.floating-menu.left {
  left: 5%;
}

.floating-menu a {
  height: 3.7vw;
  width: 13vw;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20%;
  display: block;
  border-radius: 3.7vw;
}

.floating-menu img {
  width: 2vw;
  height: 2vw;
  margin: 0.875vw 0.25vw 0.875vw 0.875vw;
  display: inline;
  }

.floating-menu .label {
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -0.9em;
  font-size: .85vh
  }

.floating-menu .inactive {
  opacity: 0.1
}

.floating-menu .spacer {
  height: 2.5vh;
  opacity: 0;
}

.unmuted .mute_on {
  display: none;
}

.muted .mute_off {
  display: none;
}

.paused .pause_it {
  display: none;
}

.playing .play_it {
  display: none;
}

.miracles_section .back_mis,
.missionaries_section .back_mir,
.menu .previous_button,
.menu .next_button {
  display: none;
}

#loader {
  width: 400px;  /* SVG Animations are easier to work with as PX sizes. */
  height: 400px;
  margin: 33vh auto;
}

.hidden {
  display: none;
}
